* {
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.Banner{
    padding: 2%;
    display: flex;
    justify-content: center;
    height: 40vw;
    width: 95vw;
}

.Banner .ContainerOpen{
    padding: 1%;
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content: center; 
    height: 38vw;
    width: 93vw;
}

.Banner .ContainerOpen .narracao{
    display:block;
    height: 35vw;
}

.Banner .ContainerOpen .imagem{
    display: flex;
    align-self: center;
    height: 35vw;
}

/* Inicio de estilização do Balão de fala*/

.Banner .ContainerOpen .narracao .balao{
    padding:1%;
    border: 1px solid white;
    border-radius: 24px;
    border-bottom-right-radius: 0px;
    position:relative;
    width: 70%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Banner .ContainerOpen .narracao .balao::after{

    content:'';
    position: absolute;
    border: 2px solid;
    background-color: inherit;
    right: 0;
    top:100%;
    width: 20px;
    height: auto;

    clip-path: polygon(0 100%,100% 0, 100% 100%);
    /* border-color: transparent white white transparent;
    transform: rotate(45deg);
    left: 70%;
    top: 85%; */
    
}

.Banner .ContainerOpen .narracao .balao .fala_Totoro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1%;
    height: 90%;
    width: 90%;
}

/* fim da estilização do balão de fala */

/* Inicio Animação digitando */

.Banner .ContainerOpen .narracao .balao .fala_Totoro p{
    display:block;
    color:white;
    text-align: justify; 
    width: 90%;
    height: 90%;
    animation: digitando 3s steps(25);
    white-space:nowrap;
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    /* border-right: 1px solid; */
    
}

@keyframes digitando {
    from{
        width:0
    }

}

/* @keyframes blink{
    40%{
        border-color: rgb(26, 5, 5);
    }
} */

/* Fim Animação digitando */


img {
    width: 400px;
}